:root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #961949;
    --secundario: #0f0b2c;
    --gris: #757575;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 16px; /* 1 rem = 10px */
    font-family: 'Akshar', sans-serif;
    text-align:center;
}

.titulo {
    text-align: center;
    font-size: 2.8rem;
    margin-top: 2rem;
    justify-content: center;
}

.contenedor {
    width: 120rem;
    margin: auto;
}

hr{
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

table {
    border-collapse: collapse;
    width: 100%;
    table-layout:auto;
}
  
td, th {
    border: 1px solid var(--primario);
    text-align: center;
    padding: 8px;
}
  
.dividir {
	background-color: #fff;
	border-top: 2px dashed #8c8b8b;
    height: 2px;
    border: 0;
    box-shadow:rgba(0, 0, 0, 0.5);
    margin: auto;
}

input[type=submit], input[type=reset] {
    background-color: var(--secundario);
    border: none;
    color: white;
    padding: 12px 4px;
    text-decoration: none;
    margin: 4px 22px;
    cursor: pointer;
    font-size: 14px;
    font-family: 'Akshar', sans-serif;
  }

.datos {
    
}