@model PuraFama.Models.login

@{
    ViewBag.Title = "Validar";
}

<h2>Iniciar Sesión</h2>
@using (Html.BeginForm())
{
    <style>
        .login td{
            padding: 2px;
        }

        }
    </style>
    <table class="login" align="center">
        <tr>
            <td>
                Ingresa tu rut porfavor <strong>(Ejemplo: 123456789 y Si termina en K: 123456780)</strong>
            </td>

            <br />

            <td>
                @Html.TextBox("rut")
            </td>
        </tr>
        <tr>
            <td>
                Ingresa tu contraseña porfavor
            </td>
            <td>
                @Html.Password("pass")
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Ingresar" onclick="validar()"
            </td>
        </tr>
    </table>
}

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">
    function validar()
    {
        var usuario = $("rut").val();
        var clave = $("pass").val();

        if (usuario == '')
        {
            alert('Ingresa tu rut porfavor');
            $("#rut").focus();
            return false;
        }
        if (clave == '')
        {
            alert('Ingresa tu clave porfavor');
            $("#rut").focus();
            return false;
        }
        return true;
    }
</script>

